---
import { Image } from "astro:assets";

const proyectos = [
      {
    titulo: "Plataforma de Gestión Prehospitalaria y KPIs",
    descripcion:
      "Aplicación para la gestión prehospitalaria del SAMU Araucanía Sur, orientada a la centralización y visualización de KPIs operacionales del Centro Regulador, con generación de reportes automatizados en PDF y Excel. Moderniza procesos manuales y sistemas legados mediante una arquitectura basada en NestJS, Next.js, PostgreSQL y un microservicio ETL en Python.",
    imagen:
      "https://i.ibb.co/b51kwqL6/interfaz-modo-claro.png",
    categoria: "🧬 Investigación y Desarrollo",
    tecnologias: ["Nestjs", "Nextjs", "Tailwind", "PostgreSQL", "Nodejs", "React", "Docker", "Gitlab"],
  },
    {
    titulo: "Plataforma IoT para Rehabilitación Pediátrica",
    descripcion:
      "Aplicación para la rehabilitación pediátrica con órtesis inteligentes IoT, que integra telemetría en tiempo real, dashboards clínicos y visualización de datos para el seguimiento del tratamiento.",
    imagen:
      "https://i.ibb.co/4R57RNjb/Copia-de-PROYECTO-DE-SENSORIZACI-N-DE-RTESIS-DE-MIEMBRO-SUPERIOR.jpg",
    categoria: "🧬 Investigación y Desarrollo",
    tecnologias: ["Vue", "Nestjs", "Tailwind", "PostgreSQL", "Nodejs", "React", "Gitlab", "Docker"],
  },
  {
    titulo: "Sistema de Monitoreo para Puntos de Reciclaje",
    descripcion:
      "Aplicación para el monitoreo inteligente de puntos de reciclaje, que permite gestionar contenedores en tiempo real mediante sensores IoT, alertas automáticas y visualización de datos históricos.",
    imagen:
      "https://media.licdn.com/dms/image/v2/D4E22AQHTSxQzezzSvw/feedshare-shrink_2048_1536/B4EZRBGaFIHsAo-/0/1736258987438?e=1769644800&v=beta&t=AU57X2moU0aqkXdkZgCVZY4_hVqUz8Ap9t8XrZ4OBss",
    categoria: "🧬 Investigación y Desarrollo",
    link: "https://www.linkedin.com/posts/gdiaz14_internetdelascosas-iot-esp32-activity-7282398027258949633-b20q?utm_source=share&utm_medium=member_desktop&rcm=ACoAAFC70ToB1pNYpZanUmtG3Lu49BcORd_RdGs",
    tecnologias: ["Nextjs", "Nodejs", "Tailwind", "React", "Gitlab"],
  },
  {
    titulo: "SWAPIT - Aplicación de Intercambio de Ropa",
    descripcion:
      "Aplicación para el intercambio rápido de ropa, que incluye funciones de emparejamiento, chat en tiempo real y notificaciones para facilitar la comunicación entre usuarios.",
    imagen:
      "https://i.ibb.co/tZ5HPyF/1734381632690.jpg",
    categoria: "👩‍💻 Desarrollo",
    link: "https://www.linkedin.com/posts/gdiaz14_nodejs-expressjs-jwt-activity-7274523974452027392-d8Ik",
    tecnologias: ["Nextjs", "Nodejs", "PostgreSQL", "MinIO", "Tailwind", "Docker", "Gitlab"],
  },
  {
    titulo: "Red Impacto - Plataforma de Conexión de Voluntarios",
    descripcion:
      "Plataforma que conecta voluntarios con organizaciones utilizando un sistema de puntos que incentiva la participación activa y el intercambio de servicios entre ambos.",
    imagen: "https://i.ibb.co/bHWYGQL/Thumbnail-1.jpg",
    categoria: "👩‍💻 Desarrollo",
    link: "https://www.linkedin.com/posts/gdiaz14_softwaredevelopment-uxdesign-nodejs-activity-7277096178343657473-S8g-?utm_source=share&utm_medium=member_desktop&rcm=ACoAAFC70ToB1pNYpZanUmtG3Lu49BcORd_RdGs",
    tecnologias: ["React", "Nodejs", "MinIO", "Tailwind", "Gitlab"],
  },
  {
    titulo: "IA Tumoral - Herramienta de Detección Temprana de Cáncer",
    descripcion:
      "Herramienta web basada en inteligencia artificial para la predicción temprana del cáncer de ovario, reconocida como semifinalista en el programa BRAIN Chile 2024.",
    imagen:
      "https://i.ibb.co/YQqkPnB/Thumbnail-2.jpg",
      categoria: "🧬 Investigación y Desarrollo",
      link: "https://www.linkedin.com/posts/ciencia-2030-ufro_felicitamos-al-equipo-de-estudiantes-esteban-ugcPost-7214262219021135872-wUgt?utm_source=share&utm_medium=member_desktop",
    tecnologias: ["Figma", "Astro", "PostgreSQL", "React", "Tailwind", "Docker", "Gitlab"],
  },
];
---

<section class="animate-blurred-fade-in py-28 px-4 md:mt-16 min-h-screen" id="proyectos">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-3xl md:text-6xl font-bold text-center mb-6 text-white">
      Proyectos <span
        class="text-black relative before:content-[''] overflow-hidden before:absolute before:w-full before:h-full before:bg-gradient-to-r before:from-[#FFFE65] before:to-[#F7DF1F] before:rotate-2 mix-blend-lighten before:-z-30 before:top-0"
      >
        Destacados
      </span>
    </h2>
    <p class="text-center md:text-xl text-primary mb-20 max-w-2xl text-sm mx-auto font-semibold px-8 md:px-0">
      Explora algunos de mis trabajos recientes en desarrollo web y móvil, tanto personales como colaborativos.
    </p>
    <div class="space-y-4 flex flex-col gap-4 grid-cols-1 md:grid-cols-2 max-w-5xl mx-auto">
      {proyectos.map((proyecto) => (
        <div class=" rounded-2xl shadow-lg hover:shadow-primary overflow-hidden transition-all duration-500 hover:shadow-sm hover:-translate-y-1 border border-slate-800 moving-border">
          <div class="flex flex-col-reverse md:flex-row">
  <!-- Texto -->
  <div class="p-6 md:w-1/2 flex flex-col justify-between">
    <div class=" md:mb-0 mb-16">
      <h3 class="text-xl font-semibold mb-2 text-white">
        {proyecto.titulo}
      </h3>
      <p class="text-slate-300 mb-4 line-clamp-8 text-justify mr-3">
        {proyecto.descripcion}
      </p>
      {proyecto.link && (
        <a href={proyecto.link} target="_blank" class="text-primary">Ver más detalles</a>
      )}
    </div>

    <!-- Tecnologías al final -->
    <div class="flex flex-wrap gap-2 mt-auto">
      {proyecto.tecnologias.map((tech) => (
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-slate-800 text-slate-200">
          <img
            src={`/icons/${tech.toLowerCase()}.svg`}
            alt={`${tech} icon`}
            class="w-4 h-4 mr-1"
          />
          {tech}
        </span>
      ))}
    </div>
  </div>

  <!-- Imagen -->
  <div class="relative md:w-1/2 h-64 md:h-80">
    <Image
      src={proyecto.imagen}
      alt={`Miniatura de ${proyecto.titulo}`}
      width={500}
      height={400}
      class="w-full h-full object-cover"
    />
    <div class="absolute top-4 left-4 bg-black rounded-full px-3 py-1 text-sm font-semibold text-slate-200">
      {proyecto.categoria}
    </div>
  </div>
</div>

        </div>
      ))}
    </div>
  </div>
</section>

<style>
  @media (max-width: 640px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .moving-border {
    position: relative;
    z-index: 0;
  }

  .moving-border::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -4px;
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-light) 50%, var(--color-primary) 100%);
    border-radius: inherit;
    animation: rotate 4s linear infinite;
  }

  .moving-border::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    border-radius: inherit;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>